body{
    background-color:antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 1200px;
    margin:50px auto 0;
    transition: 0.5s;
    border: 1px solid ;
    border-radius: 30px;
    max-width: 100%;
    padding: 20px;
    grid-template-columns: 200px auto 300px;
    display: grid;
    min-height: 80vh;
}

.container .menu{
    background-color: antiquewhite;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.container .cart{
    background-color: antiquewhite;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.container .center{
    background-color: #fff;
    border-left: 1px solid;
    border-right: 1px solid ;
}

.menu .logo{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    height: 40px;
}
.menu ul{
    padding: 20px 0 20px 20px;
    list-style: none;
    border-bottom: 1px solid var(#1C1F25);
}

.menu ul li{
    padding: 10px 0;
}
.menu ul li i{
    margin-right: 12px;
}

.menu ul li .active{
    color: antiquewhite;
    border-right: 2px solid var(#4CAF50);
}

.center .search{
    background-color: #fff;
    padding: 20px;
    height: 40px;
}
.center .search .form{
    width: max-content;
    border: 1px solid var(#fff);
    border-radius: 20px;
    padding-left: 15px;

}
.center .search .form button{
    background-color: antiquewhite;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.center h2{
    padding: 20px;
}

.center .list{
    padding: 0 20px 20px;
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
    row-gap: 20px;
}

}
.item{
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 0 50px 50px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 20% auto;
    column-gap: 20px;
    border-radius: 20px;
}

.item .img img{
    height: 300px;
}
.item .img{
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

 .item .content .title{
    font-weight: bold;
}

 .item button{
    background-color: #4CAF50;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.item .count{
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 3px 5px;
    border: 1px solid;
    outline: none;
    margin-top: 5px;
}

.item .content .add{
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    
}

.item .content .remove{
    padding: 5px;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    
}

/* end of center */

.card .item{
    transition: 0.5s;
    border-bottom: 1px solid var(#fff);
}

.cart .name{
    padding: 20px;
    height: 40px;
    font-weight: bold;
    font-size: xx-large;
    border-bottom: 1px solid var(#fff);
}

.danger {
    box-shadow: 0 10px 10px var(#fff);
    transform: translate(0,-10px);
}

.card .add{
    display: none;
}

.cart .remove{
    display: inline-block;
}
